<fs-examples [config]="config">
  <fs-example name="Flowchart">
    <fs-mermaid [source]="flowchart"></fs-mermaid>
  </fs-example>

  <fs-example name="Flowchart with subgraphs">
    <fs-mermaid [source]="flowchartSubgraph"></fs-mermaid>
  </fs-example>

  <fs-example name="Sequence">
    <fs-mermaid [source]="sequence"></fs-mermaid>
  </fs-example>

  <fs-example name="Class">
    <fs-mermaid [source]="classDiagram"></fs-mermaid>
  </fs-example>

  <fs-example name="State">
    <fs-mermaid [source]="state"></fs-mermaid>
  </fs-example>

  <fs-example name="Entity relationship">
    <fs-mermaid [source]="entityRelationship"></fs-mermaid>
  </fs-example>

  <fs-example name="User journey">
    <fs-mermaid [source]="journey"></fs-mermaid>
  </fs-example>

  <fs-example name="Gantt">
    <fs-mermaid [source]="gantt"></fs-mermaid>
  </fs-example>

  <fs-example name="Pie">
    <fs-mermaid [source]="pie"></fs-mermaid>
  </fs-example>

  <fs-example name="Quadrant">
    <fs-mermaid [source]="quadrant"></fs-mermaid>
  </fs-example>

  <fs-example name="XY chart">
    <fs-mermaid [source]="xyChart"></fs-mermaid>
  </fs-example>

  <fs-example name="Mindmap">
    <fs-mermaid [source]="mindmap"></fs-mermaid>
  </fs-example>

  <fs-example name="Timeline">
    <fs-mermaid [source]="timeline"></fs-mermaid>
  </fs-example>

  <fs-example name="Git graph">
    <fs-mermaid [source]="gitGraph"></fs-mermaid>
  </fs-example>

  <fs-example name="Block">
    <fs-mermaid [source]="block"></fs-mermaid>
  </fs-example>

  <fs-example name="Sankey">
    <fs-mermaid [source]="sankey"></fs-mermaid>
  </fs-example>

  <fs-example name="Parse error">
    <fs-mermaid [source]="parseError"></fs-mermaid>
  </fs-example>
</fs-examples>
